body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}



/* les boutons et champs de formulaire */
.uiForm input, 
.uiForm select,
.uiForm textarea,
.uiForm label{								    /* styliser les champs des formulaires */
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace" !important;
}


.uiForm input[type=button], 
.uiForm input[type=reset], 
.uiForm input[type=submit] {					/* styliser les boutons */
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif" !important;
}





/* login */
.consoleLogin {
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    margin-top: 9em;
    border: 2px solid lightgray;
    background-color: whitesmoke;
    padding: 20px;
    box-shadow: 2px 2px 5px lightgray;
}

.consoleLogin p:first-child {
    margin-top: 0;
}

.consoleLogin p:last-child {
    margin-bottom: 0;
}





/* listes */
table.webadminList{
	border-collapse: collapse;
	padding:0px;
	margin:0px;
}

table.webadminList tr:nth-child(2n){
	background-color:whitesmoke;
}

table.webadminList td {
	padding:2px 3px 1px 3px;
	font-size:11px;
	border-bottom:1px solid #CCC;
}

table.webadminList td.highlight {
	background-color: #F6F6F6;
}

table.webadminList td.highlight2 {
	background-color:#FFCC99 !important;
	color:black !important;
	text-shadow: none !important;
}

table.webadminList tr.newline {
	background-color:#FFCC99;
}
			
table.webadminList input[type='text'] {
	font-size:12px;
	padding:0px;
	margin:0px;
	border:0px;
	font-family:inherit;
	font-weight:bold;
	background-color:transparent;
}
				

