:root {
	--webadmin-dark-bgColor: var(--ui-desktop-bodyBgColor);
	--webadmin-color: var(--ui-color);
	--webadmin-dark-box-borderColor: var(--ui-desktop-boxBorderColor);
	--webadmin-dark-cadre-bgColor: var(--ui-desktop-boxBgColor);
	--webadmin-hover-bgColor: darkorange;
	--webadmin-themeBgColor: var(--ui-themeBgColor);
	--webadmin-2ndBgColor :var(--ui-themeBgColor2);
}





body {
    background-color: var(--webadmin-dark-bgColor);
    color: var(--webadmin-color);
    /*text-shadow:0 1px 1px rgba(0,0,0,0.2);*/
}  

.consoleLogin{
	background-color: var(--webadmin-dark-cadre-bgColor);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-color: var(--webadmin-dark-box-borderColor);
}

a{
    color:#92b6ef;
}

a:hover{
	color:var(--webadmin-hover-bgColor);
}





/* listes */
table.webadminList tr:nth-child(2n){
	background-color: var(--webadmin-themeBgColor);
}

table.webadminList tr td{
	border-color: slategray;
}

table.webadminList td.highlight {
	background-color: var(--webadmin-2ndBgColor);
}

table.webadminList tr.newline {
	background-color: var(--webadmin-dark-cadre-bgColor);
}

table.webadminList input[type='text'] {
	color: var(--webadmin-color);
}